<% if flash[:alert].present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span><%= flash[:alert] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>