<h2>Feature lists</h2>


<ol>
  <li><%= link_to 'Dynamic select feature', new_address_path %></li>
  <li><%= link_to 'Dynamic updating data', employees_path %></li>
  <li><%= link_to 'Multiple select data', admins_path %></li>
</ol>