<div class="row">
  <div class="col-md-6">
    <h1>Products</h1>

    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th class="text-end">Amount</th>
      </tr>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </table>
  </div>
</div>
